@charset "UTF-8";
:root {
  --g5-body-font: "Poppins";
  --g5-body-font-size: 14px;
  --g5-body-font-weight: 300;
  --g5-secondary-font: "Poppins";
  --g5-secondary-font-size: 14px;
  --g5-secondary-font-weight: 300;
  --g5-h1-font: "Poppins";
  --g5-h1-font-size: 64px;
  --g5-h1-font-weight: 700;
  --g5-h2-font: "Poppins";
  --g5-h2-font-size: 48px;
  --g5-h2-font-weight: 700;
  --g5-h3-font: "Poppins";
  --g5-h3-font-size: 32px;
  --g5-h3-font-weight: 700;
  --g5-h4-font: "Poppins";
  --g5-h4-font-size: 21px;
  --g5-h4-font-weight: 700;
  --g5-h5-font: "Poppins";
  --g5-h5-font-size: 18px;
  --g5-h5-font-weight: 700;
  --g5-h6-font: "Poppins";
  --g5-h6-font-size: 16px;
  --g5-h6-font-weight: 400;
  --g5-color-accent: #fb6a19;
  --g5-color-accent-foreground: #fff;
  --g5-color-accent-lighten: #fc8a4b;
  --g5-color-heading-lighten: #909090;
  --g5-border-color-dark: #dddddd;
  --g5-color-heading: #222222;
  --g5-color-heading-foreground: #fff;
  --g5-color-heading-r: 34;
  --g5-color-heading-g: 34;
  --g5-color-heading-b: 34;
  --g5-color-text-main: #787878;
  --g5-color-muted: #ababab;
  --g5-color-border: #eeeeee;
  --g5-color-link: #fb6a19;
  --g5-color-link-hover: #fb6a19;
  --g5-header-background-color: #fff;
  --g5-header-border-color: #eee;
  --g5-header-text-color: #aaaaaa;
  --g5-top-bar-text-color: #ffffff;
  --g5-top-bar-border-color: #eee;
  --g5-top-bar-bg-color: #222222;
  --g5-top-bar-equal-color: #fb6a19;
  --g5-top-drawer-bg-color: #2f2f2f;
  --g5-top-drawer-text-color: #c5c5c5;
  --g5-mobile-header-border-color: #ededed;
  --g5-header-responsive-breakpoint: 991px;
  --g5-navigation-bg-color: #fff;
  --g5-navigation-text-color: #222222;
  --g5-navigation-text-color-hover: #fb6a19;
  --g5-top-bar-mobile-bg-color: #fff;
  --g5-top-bar-mobile-text-color: #111;
  --g5-top-bar_mobile-border-color: #eee;
  --g5-header-mobile-bg-color: #fff;
  --g5-header-mobile-text-color: #111;
  --g5-header-mobile-border-color: #eee;
  --g5-footer-bg-color: #222222;
  --g5-footer-text-color: #bababa;
  --g5-footer-widget-title-color: #ffffff;
  --g5-footer-border-color: #eee;
  --g5-bottom-bar-bg-color: #ffffff;
  --g5-bottom_bar_text_color: #8f8f8f;
  --g5-bottom-bar-border-color: #eee;
  --g5-top-drawer-padding-top: 0;
  --g5-top-drawer-padding-bottom: 0;
  --g5-top-bar-padding-top: 10px;
  --g5-top-bar-padding-bottom: 10px;
  --g5-top-bar-mobile-padding-top: 0;
  --g5-top-bar-mobile-padding-bottom: 0;
  --g5-header-padding-top: 0;
  --g5-header-padding-bottom: 0;
  --g5-navigation-height: 82px;
  --g5-navigation-spacing: 45px;
  --g5-header-customize-nav-spacing: 13px;
  --g5-header-customize-left-spacing: 13px;
  --g5-header-customize-right-spacing: 13px;
  --g5-footer-padding-top: 60px;
  --g5-footer-padding-bottom: 60px;
  --g5-bottom-bar-padding-top: 12px;
  --g5-bottom-bar-padding-bottom: 12px;
  --g5-logo-max-height: 82px;
  --g5-mobile-logo-max-height: 50px;
  --g5-logo-padding-top: 0;
  --g5-logo-padding-bottom: 0;
  --g5-mobile-logo-padding-top: 0;
  --g5-mobile-logo-padding-bottom: 0;
  --g5-text-color-lightness: #bababa;
  --g5-text-color-lighten: #8f8f8f;
  --g5-text-color-lightness-02: #c4c4c4;
  --g5-x-menu-a-text-hover: #fb6a19;
  --g5-font-icon: "Fontawesome";
  --ere-color-accent: var(--g5-color-accent);
  --ere-color-accent-foreground: var(--g5-color-accent-foreground);
  --ere-color-heading: var(--g5-color-heading);
  --ere-color-heading-foreground: var(--g5-color-heading-foreground);
}

/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.714;
  overflow-x: hidden;
  color: var(--g5-color-text-main);
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-family: var(--g5-body-font);
  font-size: var(--g5-body-font-size);
  font-weight: var(--g5-body-font-weight);
}

h1 {
  font-family: var(--g5-h1-font);
  font-size: var(--g5-h1-font-size);
  font-weight: var(--g5-h1-font-weight);
}

h2 {
  font-family: var(--g5-h2-font);
  font-size: var(--g5-h2-font-size);
  font-weight: var(--g5-h2-font-weight);
}

h3 {
  font-family: var(--g5-h3-font);
  font-size: var(--g5-h3-font-size);
  font-weight: var(--g5-h3-font-weight);
}

h4 {
  font-family: var(--g5-h4-font);
  font-size: var(--g5-h4-font-size);
  font-weight: var(--g5-h4-font-weight);
}

h5 {
  font-family: var(--g5-h5-font);
  font-size: var(--g5-h5-font-size);
  font-weight: var(--g5-h5-font-weight);
}

h6 {
  font-family: var(--g5-h6-font);
  font-size: var(--g5-h6-font-size);
  font-weight: var(--g5-h6-font-weight);
}

hr {
  margin-top: 20px;
  border-top: 1px solid var(--g5-color-border);
  clear: both;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.2;
  color: var(--g5-color-heading);
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  margin: 0 0 20px 0;
}

a,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
  color: var(--g5-color-text-main);
}

a:hover,
a:focus {
  color: var(--g5-color-accent);
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
}

div, iframe, img {
  margin: 0;
  padding: 0;
}

input, textarea, button, select {
  outline: none;
}

::selection {
  color: var(--g5-color-accent-foreground);
  background-color: var(--g5-color-accent);
}

::-moz-selection {
  color: var(--g5-color-accent-foreground);
  background-color: var(--g5-color-accent);
}

input[type=text],
input[type=search],
input[type=email],
input[type=url],
input[type=password],
input[type=tel],
input[type=number],
textarea,
select.form-control,
select {
  padding: 0 8px;
  height: 44px;
  line-height: 1;
  background-color: transparent;
  color: var(--g5-color-text-main);
  border: 1px solid var(--g5-color-border);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=text]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=url]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=tel]:-moz-placeholder,
input[type=number]:-moz-placeholder,
textarea:-moz-placeholder,
select.form-control:-moz-placeholder,
select:-moz-placeholder {
  color: var(--g5-color-text-main);
}
input[type=text]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=number]::-moz-placeholder,
textarea::-moz-placeholder,
select.form-control::-moz-placeholder,
select::-moz-placeholder {
  color: var(--g5-color-text-main);
}
input[type=text]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select.form-control:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: var(--g5-color-text-main);
}
input[type=text]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select.form-control::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: var(--g5-color-text-main);
}
input[type=text]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=number]:focus,
textarea:focus,
select.form-control:focus,
select:focus {
  border-color: var(--g5-color-accent);
}

select {
  height: 44px !important;
  padding: 0 5px !important;
  max-width: 100%;
}

textarea {
  padding-top: 10px;
  height: auto;
}

/*
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' fill='%2328303d'><polygon points='0,0 10,0 5,5'/></svg>");
	background-repeat: no-repeat;
	background-position: right 10px top 60%;
}*/
hr {
  margin-top: 20px;
  border-top: 1px solid var(--g5-color-border);
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
dl,
blockquote,
table,
ul,
ol,
address,
pre {
  margin-bottom: 20px;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
hr:last-child,
dl:last-child,
blockquote:last-child,
table:last-child,
ul:last-child,
ol:last-child,
address:last-child,
pre:last-child {
  margin-bottom: 0;
}

table {
  width: 100%;
  border: 1px solid var(--g5-border-color-dark);
}

td,
th {
  padding: 8px;
  border-top: 1px solid var(--g5-border-color-dark);
  vertical-align: top;
}

thead th {
  font-weight: bold;
  background: #f8f8f8;
  vertical-align: bottom;
}

thead:first-child > tr:first-child > td,
thead:first-child > tr:first-child > th {
  border-top: none;
}

dt,
dd {
  line-height: 2;
}

dd {
  margin-bottom: 15px;
}

ul,
ol {
  padding-left: 25px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

address {
  line-height: 1.8;
  font-style: italic;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  max-width: 100%;
  /* Image does not overflow the content area */
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  margin: 5px 0 0 0;
  font-size: 12px;
  line-height: 1.8;
}

.sticky {
  opacity: 1;
}

.bypostauthor {
  opacity: 1;
}

/**
* Gallery
* ----------------------------------------------------------------------------
*/
.gallery {
  margin: 0 -5px 10px -5px;
}

.gallery-item {
  margin: 0 0 10px 0;
  padding: 0 5px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  max-width: 33.33%;
  width: 100%;
}

.gallery-caption {
  font-size: 12px;
  line-height: 1.8;
  margin-top: 5px;
}

.gallery-icon img {
  margin: 0 auto;
  border-radius: 2px;
  border: 1px solid #eee;
  padding: 7px;
}
.gallery-icon img:hover {
  border: 1px solid #ccc;
}

.gallery-columns-1 .gallery-item {
  max-width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

blockquote {
  position: relative;
  border: none;
  padding: 30px 50px;
  background-color: var(--g5-color-accent);
  color: var(--g5-color-accent-foreground);
}
blockquote p {
  font-size: 18px;
  line-height: 1.777777778;
  font-weight: 500;
  font-family: var(--g5-secondary-font);
  margin-bottom: 0;
}
blockquote a {
  color: inherit;
}
blockquote a:hover, blockquote a:active, blockquote a:focus {
  color: inherit;
}

/*--------------------------------------------------------------
## WP block
--------------------------------------------------------------*/
.wp-block-calendar,
.wp-block-columns,
.wp-block-group,
.wp-block-group.has-background,
.wp-block-search,
ul.wp-block-categories,
ul.wp-block-archives,
.wp-block-archives.wp-block-archives-dropdown,
ol.wp-block-latest-comments,
.wp-block-media-text,
.wp-block-rss,
.wp-block-latest-posts,
.wp-block-latest-comments,
.wp-block-archives,
.wp-block-categories,
.wp-block-gallery,
.wp-block-embed,
.wp-block-cover-image,
.wp-block-cover,
.wp-block-button {
  margin-bottom: 20px;
}

.wp-block-button__link {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  padding: 11px 19px;
  border: solid 2px transparent;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 0;
}

.wp-block-button__link:not(.has-background):not(.has-text-color) {
  color: var(--g5-color-accent-foreground);
  background-color: var(--g5-color-accent);
}
.wp-block-button__link:not(.has-background):not(.has-text-color).active, .wp-block-button__link:not(.has-background):not(.has-text-color):focus, .wp-block-button__link:not(.has-background):not(.has-text-color):hover {
  color: #fff;
  background-color: #333;
}

.wp-block-button:not(.is-style-squared) .wp-block-button__link {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:hover, .wp-block-button:not(.is-style-outline) .wp-block-button__link:focus, .wp-block-button:not(.is-style-outline) .wp-block-button__link:active {
  color: #fff;
  background-color: #333;
  border-color: #333;
}
.wp-block-button:not(.is-style-outline) .wp-block-button__link.has-background, .wp-block-button:not(.is-style-outline) .wp-block-button__link.has-text-color {
  border-color: transparent;
}

.wp-block-button.is-style-outline .wp-block-button__link {
  background: transparent !important;
  border: 2px solid currentcolor;
}
.wp-block-button.is-style-outline .wp-block-button__link:hover, .wp-block-button.is-style-outline .wp-block-button__link:focus, .wp-block-button.is-style-outline .wp-block-button__link:active {
  color: var(--g5-color-accent);
}
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
  color: var(--g5-color-accent);
}
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover, .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus, .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):active {
  color: var(--g5-color-heading);
  border-color: var(--g5-color-heading);
}

.wp-block-cover-image,
.wp-block-cover {
  color: #f8f9f9;
}
.wp-block-cover-image p,
.wp-block-cover p {
  position: relative;
  margin-bottom: 0;
  line-height: 1.25;
}
.wp-block-cover-image a,
.wp-block-cover a {
  color: inherit;
}

.wp-block-cover-image.aligncenter,
.wp-block-cover-image.alignleft,
.wp-block-cover-image.alignright,
.wp-block-cover.aligncenter,
.wp-block-cover.alignleft,
.wp-block-cover.alignright {
  display: -ms-flexbox;
  display: flex;
}

ul.blocks-gallery-grid {
  margin-bottom: -16px !important;
  padding-left: 0 !important;
}

.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption,
.blocks-gallery-grid .blocks-gallery-image figcaption,
.blocks-gallery-grid .blocks-gallery-item figcaption {
  color: #fff !important;
  margin: 0;
}

.blocks-gallery-caption {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.wp-block-column > *:last-child {
  margin-bottom: 0;
}

ul.wp-block-gallery {
  padding: 0;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
  border: none;
  padding: 30px 50px 32px 50px;
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
  padding: 30px 50px 32px 50px;
}

.wp-block-pullquote {
  margin-bottom: 20px;
}
.wp-block-pullquote blockquote:not(.is-large):not(.is-style-large) {
  padding: 0;
  background-color: transparent;
  color: var(--g5-color-text-main);
  margin-bottom: 0;
  border: none;
}
.wp-block-pullquote blockquote:not(.is-large):not(.is-style-large) p {
  color: inherit;
}
.wp-block-pullquote blockquote:not(.is-large):not(.is-style-large) a {
  color: inherit;
}

.wp-block-quote cite, .wp-block-quote footer, .wp-block-quote__citation {
  color: var(--g5-color-accent-foreground);
  font-size: 13px !important;
}

.wp-block-rss,
ol.wp-block-latest-comments,
.wp-block-page-list,
.wp-block-categories-list,
.wp-block-archives-list {
  padding: 0;
}

.widget .wp-block-group__inner-container > h2 {
  margin-bottom: 40px;
  font-size: 21px;
  font-weight: 600;
  position: relative;
  padding-left: 35px;
}
.widget .wp-block-group__inner-container > h2:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 4px;
  background-color: var(--g5-color-accent);
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.site-content .widget_block > div,
.primary-sidebar .widget_block > div {
  background-color: transparent;
  padding: 0;
}
.site-content .widget_block .wp-block-latest-comments,
.site-content .widget_block .wp-block-latest-posts__list,
.primary-sidebar .widget_block .wp-block-latest-comments,
.primary-sidebar .widget_block .wp-block-latest-posts__list {
  background-color: #f8f8f8;
  padding: 10px;
}
.site-content .widget .wp-block-group__inner-container > h2,
.primary-sidebar .widget .wp-block-group__inner-container > h2 {
  margin-bottom: 20px;
}

.wp-block-page-list,
.wp-block-categories-list,
.wp-block-archives-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.wp-block-page-list li,
.wp-block-categories-list li,
.wp-block-archives-list li {
  font-size: 14px;
  position: relative;
  color: var(--g5-color-text-main);
}
.wp-block-page-list li > a,
.wp-block-categories-list li > a,
.wp-block-archives-list li > a {
  line-height: 24px;
  display: block;
  color: inherit;
  font-weight: 500;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wp-block-page-list li > a:hover,
.wp-block-categories-list li > a:hover,
.wp-block-archives-list li > a:hover {
  color: var(--g5-color-accent);
}
.wp-block-page-list li + li,
.wp-block-categories-list li + li,
.wp-block-archives-list li + li {
  margin-top: 15px;
}
.wp-block-page-list li > ul,
.wp-block-categories-list li > ul,
.wp-block-archives-list li > ul {
  list-style: none;
  margin: 15px 0 0 0;
  padding: 0 0 0 20px;
}

.wp-block-archives-list li > a > span.count,
.wp-block-categories-list li > a > span.count {
  letter-spacing: 0.05em;
  position: absolute;
  right: 0;
}

.wp-block-search {
  position: relative;
  width: 100%;
}
.wp-block-search input[type=search] {
  width: 100%;
  padding-left: 25px;
  padding-right: 44px;
  height: 44px;
  line-height: 44px;
}
.wp-block-search button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  text-align: center;
  height: 44px;
  padding: 0;
  border: none;
}
.wp-block-search button[type=submit] i {
  line-height: 44px;
  font-size: 18px;
}
.wp-block-search label {
  display: none;
}
.wp-block-search button[type=submit] {
  margin: 0;
  font-size: 0;
  background-color: var(--g5-color-accent);
  color: var(--g5-color-accent-foreground);
}
.wp-block-search button[type=submit]:before {
  font-family: FontAwesome;
  display: inline-block;
  content: "";
  font-size: 18px;
}
.wp-block-search button[type=submit]:hover {
  background-color: transparent;
  color: var(--g5-color-accent);
}

.wp-block-tag-cloud {
  font-size: 0;
  margin-bottom: -5px;
}
.wp-block-tag-cloud a {
  display: inline-block;
  vertical-align: top;
  font-size: 12px !important;
  line-height: 1;
  padding: 8px 20px;
  margin: 0 5px 5px 0;
  border: solid 1px var(--g5-color-border);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wp-block-tag-cloud a:hover {
  background-color: var(--g5-color-accent);
  border-color: var(--g5-color-accent);
  color: var(--g5-color-accent-foreground) !important;
}

.mceContentBody::after {
  display: block;
  position: absolute;
  top: 0;
  left: 102%;
  width: 10px;
  -ms-word-break: break-all;
  word-break: break-all;
  font-size: 14px;
  color: #d8d8d8;
  text-align: center;
  height: 100%;
  max-width: 330px;
  z-index: 1;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 26px;
  pointer-events: none;
}

.mceContentBody.mceContentBody {
  padding-right: 15px !important;
  padding-left: 15px !important;
  box-shadow: 1px 0 1px -1px #eee;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
