@import "../../sass/mixin";
@import "../../sass/variables";
@import "../../sass/root";
@import "../../sass/mixin-widget";

/*--------------------------------------------------------------
## Typography
--------------------------------------------------------------*/
@import "../../sass/typography";
@import "../../sass/base/typography";


/*--------------------------------------------------------------
## WP block
--------------------------------------------------------------*/
@import "../../sass/base/wp-block";
@import "../../sass/wp-block";

.mceContentBody::after {
	display: block;
	position: absolute;
	top: 0;
	left: 102%;
	width: 10px;
	-ms-word-break: break-all;
	word-break: break-all;
	font-size: 14px;
	color: #d8d8d8;
	text-align: center;
	height: 100%;
	max-width: 330px;
	z-index: 1;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: 600;
	line-height: 26px;
	pointer-events: none;
}

.mceContentBody.mceContentBody {
	padding-right: 15px !important;
	padding-left: 15px !important;
	box-shadow: 1px 0 1px -1px #eee;
	position: relative;

}